/* index.css などに追加 */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px; /* 横スクロールバーの太さ（細めに設定） */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* バーの背景色（薄いグレー） */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* バー自体の色（slate-300くらい） */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* ホバーした時に少し濃くする */
}

.gold-text {
  background: linear-gradient(
    45deg,
    #b67b03 0%,
    #daaf08 45%,
    #fee9a0 70%,
    #daaf08 85%,
    #b67b03 100%
  );
  /* テキストに適用する場合 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}